.content .left-menu{
	width: 150px;
	height: 400px;
	float: left;
}
.content .right-content{
	width: 1070px;
	margin-left: 20px;
	padding: 20px;
	padding-right: 20px;
	min-height: 500px;
	background: rgba(245, 245, 245, 0.95);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	float: left;
}
.content .right-content .mid-content{
	width: 750px;
	min-height: 500px;
    margin-right: 20px;
	float: left;
}
.mid-content .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.mid-content .title h4{
	text-align: center;
	color: #CC3300;
}
.mid-content .links {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #CC3300;
}
.mid-content .links a{
	width: 90%;
	display: block;
	height: 40px;
	line-height: 40px;
	color: blue;
}
.mid-content .links .sub{
	margin-left: 20px;
}
.mid-content .links a:hover{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: green;
}
.content .right-content .mid-content h1{
	width: 100%;
	height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.content .right-content p{
	width: 100%;
    line-height: 150%;
    margin-bottom: 10px;
    text-indent: 2em;
    text-justify : auto; 
    text-align:justify;
}